# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*

# Logs directory
/logs/*.log

# OS
.DS_Store

# IDE
.idea
.vscode
*.swp
*.swo

# Env
.env

# Upload
/uploads/*
!/uploads/.gitkeep

# Coverage
/coverage
